@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    section {
        margin: 0 1rem;
        height: auto;
        padding: 2vh 1rem;
    }
    
    #profile {
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }
    
    .section__pic-container {
        width: 250px;
        height: 250px;
        margin: auto;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .section__text__p2 {
        font-size: 1.25rem;
    }
    
    .nav-links {
        font-size: 1rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }
    
    .btn {
        width: 6rem;
        padding: 0.75rem;
    }
}